@use '../../scss/_colors.scss';
@use '../../scss/_measurements.scss';

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.nav-brand {
  font-size: clamp(1.5rem, 5vw, 2rem);
}

.hamburger-menu-btn {
  //position: absolute;
  //top: .75rem;
  //right: 1rem;
  display: none;
  background-image: url(../../assets/icons/hamburger-menu.svg);
  background-size: cover;
  background-color: transparent;
  border: 0;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

@media (max-width: 630px) {
  .nav-list {
    display: none;
  }

  .hamburger-menu-btn {
    display: block;
  }
}